*
!.gitignore
!updateBDD/
!updateBDD/BDD_PSPEvolved/
!updateBDD/BDD_PSPEvolved/*
!updateBDD/Config_PSPEvolved/
!updateBDD/Config_PSPEvolved/*
!updateBDD/Config_PSPEvolved/*/*
!updateBDD/Config_PSPEvolved/*/*/*
!updateBDD/Config_PSPEvolved/*/*/*/*
!updateBDD/lisezMoi.txt
!Fonts/
!Fonts/*
!scriptsUpdate/
!scriptsUpdate/*
!scriptsUpdate/*/*
!scriptsUpdate/*/*/*
!scriptsUpdate/999999_Main.rb
!tools/
!tools/*
!tools/*/*
!tools/*/*/*
!tools/*/*/*/*
!tools/*/*/*/*/*
!tools/*/*/*/*/*/*
!update/
!update/*
!update/*/*
!update/*/*/*
!update/*/*/*/*
!CréditsSK.txt
!extractionScriptsPSPE.exe
!extendtext.exe
!*.dll
!injectionScriptsPSPE.exe
!LauncherUpdate.bat
!Game.exe
!README.md